body {
  background: #eab9fa;
  margin-top: 25px;
}

#sidebar {
  float: left;
}

#hobbies {
  margin-left: -2.75em;
  font-family: "Courier New", courier, monospace;
  max-width: 180em;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 1px;
  color: rgb(49, 1, 63);
  list-style: katakana-iroha;
}

#content {
  float: right;
  margin-right: 10em;
  margin-top: 7px;
  vertical-align: top;
  font-family: "Courier New", courier, monospace;
  max-width: 800px;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 1px;
  color: rgb(49, 1, 63);
}

content {
  float: right;
  margin-right: 10em;
  margin-top: 7px;
  vertical-align: top;
  font-family: "Courier New", courier, monospace;
  max-width: 800px;
  font-size: 14px;
  line-height: 1.3em;
  letter-spacing: 1px;
  color: rgb(49, 1, 63);
  list-style: none;
}

#header-one {
  margin-right: 10em;
  font-family: "Courier New", courier, monospace;
  max-width: 800px;
  line-height: 0.75em;
  text-align: left auto;
  color: rgb(23, 2, 30);
  margin: 0em;
  font-size: 14px;
}

#header-two {
  font-family: "Courier New", courier, monospace;
  max-width: 800px;
  line-height: 2em;
  text-align: left auto;
  font-size: 24px;
  color: rgb(23, 2, 30);
  margin: 0em;
  margin-bottom: -0.5em;
}

#content ul li {
  background: none;
  background-color: transparent;
  list-style: disc;
  line-height: 1.8em;
}

li {
  margin-left: -2.75em;
  font-family: "Courier New", courier, monospace;
  max-width: 180em;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 1px;
  color: rgb(49, 1, 63);
  list-style: none;
  background: rgb(254, 212, 255);
  background-blend-mode: hard-light;
}
